*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #141d2f;
  color: #fff;
}
#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
  color: #fff;
}